:root {
  /*
  dark mode colours
   --bg: #121212; 
  --bg-sec:#222222;
  --txt-color: #efeaea; */

  --bg: #fff;
  --bg-sec: #ececec;
  --txt-color: rgb(0, 0, 0);

  --white: #efeaea;
  --theme-color: #fe4365;
}

::-moz-selection {
  color: var(--theme-color);
  background-color: var(--white);
}

::selection {
  color: var(--theme-color);
  background-color: var(--white);
}

body {
  background-color: var(--bg);
  font-family: "Josefin Sans", Arial;
  color: var(--txt-color);
  overflow: scroll;
  background-image: url("../res/bg.svg");
  background-repeat: no-repeat;

}

/* custom page scroll progress bar  */
.top-progress-container {
  width: 100%;
  height: 4px;
  position: fixed;
  top: 0;
}
.top-progress-bar {
  height: 4px;
  background: var(--theme-color);
  width: 0%;
}
/* custom page scroll progress bar end  */

/* header style */
/* nav bar style */
nav span {
  display: inline-block;
  position: relative;
  color: var(--theme-color);
  transition: 1.5s;
  cursor: pointer;
  font-size: 0.8em;
}

nav span:after {
  text-decoration: underline;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--theme-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav span a {
  text-decoration: none;
  all: unset;
}
nav span a:hover {
  all: unset;
}
/* nav bar style end */
/* header style end*/

/* main style */
/* name text style */
.name-text-title {
  font-size: 4rem;
  transition: 1.5s;
  color: var(--theme-color);
}
#about ul , p{
  font-size: 1.2em;
}
/* name text style end*/

/* typing text style */
.typed-text {
  font-size: 1.2em;
  transition: 1.5s;
  color: var(--theme-color);
}
.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 4px;
  height: 1.4rem;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
/* typing text style end */

/* profile picture */
.profile-picture-container {
  height: 300px;
  width: 300px;
}
.profile-picture {
  width: 100%;
  height: 90%;
  border-radius: 20%;
  object-fit: cover;
  object-position: 25% 25%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.profile-picture:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* profile picture end*/

/* skills style */
#progress-data p {
  font-size: 1.2em;
}

.filled-progress-bar {
  text-align: end;
  color: #ececec;
  font-weight: 500;
  padding-right: 4px;
  transition: 1.5s;
  background-color: var(--theme-color);
}
/* skills style end*/

/* Projects style  */
.project-card {
  padding: 8px;
  height: auto;
  width: 100%;
  background-color: var(--bg-sec);
}
.project-card:hover {
  transition: 1.5s;
  outline: var(--theme-color) solid 1px;
}
/* Projects style end */

/* contact Form style */
#contact-form input,
textarea {
  border: 0 !important;
  box-shadow: none !important;
  background-color: var(--bg-sec) !important;
  color: var(--txt-color) !important;
}

#contact-form input:focus,
textarea:focus {
  background-color: var(--bg-sec) !important;
  color: var(--txt-color) !important;
}
#submit {
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}
#submit:hover {
  background-color: var(--theme-color);
  color: white;
}
#response-text {
  font-size: 1rem;
  transition: 1.5s;
  color: #151414;
}
/* contact Form style end*/

/* social links */
.email-text {
  font-size: 1em;
  transition: 1.5s;
  color: var(--theme-color);
}

#social-icon-links img {
  margin: 4px;
  cursor: pointer;
}
#social-icon-links a:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#social-icon-links a:hover {
  opacity: 0.6;
}
#social-icon-links ul {
  list-style-type: none;
}
#social-icon-links ul li {
  float: left;
}
#social-icon-links ul li a {
  all: unset;
}

.copy-right-text {
  font-size: 0.8em;
  transition: 1.5s;
  color: var(--theme-color);
}
/* social links end*/

/* color select card */
.color-select-card {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: var(--bg-sec);
  padding: 8px;
  width: 170px;
  color: white;
  border: 1px solid var(--theme-color);
  border-radius: 5px;
}
#toggle-card {
  transition: height 0.1s ease;
  overflow: hidden;
  color: var(--theme-color);
}
#toggle-card:not(.active) {
  display: none;
}
.setting-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background-color: var(--theme-color);
  transition: 1.5s;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  display: grid;
  place-items: center;
  -webkit-animation: spin 2s linear infinite; /* roted btn */
  animation: spin 2s linear infinite; /* animate btn */
}

#color-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0096ff;
  height: 30px;
  width: 30px;
  border: 1px solid #151414;
  cursor: pointer;
}
#color-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fe4365;
  height: 30px;
  width: 30px;
  border: 1px solid #151414;
  cursor: pointer;
}
#color-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e39801;
  height: 30px;
  width: 30px;
  border: 1px solid #151414;
  cursor: pointer;
}
#color-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #37af49;
  height: 30px;
  width: 30px;
  border: 1px solid #151414;
  cursor: pointer;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* color select card end */

/* Globle Custom CSS */
a:hover {
  opacity: 0.5;
  color: var(--theme-color);
}

.section-title {
  font-size: 2em;
  color: var(--theme-color);
  transition: 1.5s;
}
/* Globle Custom CSS end*/
