@import "tailwindcss";

@custom-variant hover (&:hover);

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-open-sans), system-ui, sans-serif;
  --font-display: var(--font-montserrat), system-ui, sans-serif;
  --font-mono: var(--font-open-sans), system-ui, sans-serif;
}

@layer base {
  ::selection {
    @apply bg-[#141414b7] text-[#dbdbdb];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #c9d1d9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
}

.grid-background {
  /* Two overlapping gradients to create a grid */
  background-image: linear-gradient(to right, #1c1f29 0.5px, transparent 0.5px),
    linear-gradient(to bottom, #1c1f29 0.5px, transparent 0.5px);

  /* Size of each grid cell */
  background-size: 45px 45px;

  /* Make it cover the container */
  width: 100%;
  height: 100%;
}